# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: The Goroutine Gazette
email: advait.thakar18@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  The Goroutine Gazette is your go-to destination for insights, experiments, and tutorials in Go programming. From goroutines and channels to concurrency patterns and real-world projects, we explore the art and science of building efficient, scalable systems with Go.
baseurl: "/The-Goroutine-Gazette" # the subpath of your site (project repository)
url: "https://thakar-advait.github.io" # the base hostname & protocol for your site
github_username:  Thakar-Advait

# Build settings
# Using custom layouts instead of theme
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sass-converter

# GitHub Pages settings
github: [metadata]

# Sass configuration
sass:
  style: compressed
  sourcemap: never

# Syntax highlighting
highlighter: rouge
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
      start_line: 1

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
